.list-group-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;

    .list-item-buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    .list-item-text {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }
    }
    .set-button {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }
}